@import "tailwindcss";

.Login{
    width: 30%;
    margin: 0 auto;
    height: 40vh;

}

.inpl input{
    display: block;
    width: 50%;
   margin: 10px auto;
  

} 

.hlogin{
    text-align: center;

}
